@model IEnumerable<DAL.Product>
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    function OnBegin() {
        alert("Происходит отправка запроса");
    }
    function OnSuccess(data) {
        alert("Запрос был успешно выполнен. Получены следующие данные: \n" + data);
    }
    function OnFailure(request, error) {
        $("#results").html("Книги указанного автора не содержатся в базе данных.");
    }
    function OnComplete(request, status) {
        alert("Статус запроса : " + status);
    }

</script>
<div class="col s6 offset-s3" style="text-align:center"><h2>PRODUCT TABLE</h2></div>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>DESCRIPTION</th>
        </tr>
    </thead>

    <tbody>

        @{
            int counter = 0;
            foreach (DAL.Product p in Model)
            {
                counter++;
        <tr>
            <td>@counter</td>
            <td>@Html.ActionLink(p.Name, "GoLink", "Home", new { id = p.Name }, null)</td>
            <td>@Ajax.ActionLink(p.Name, "GetJson", new { id = p.Name }, new AjaxOptions { HttpMethod="POST", OnSuccess= "OnSuccess" })</td> 
        </tr>
            }
        }


    </tbody>
</table>