@model IEnumerable<DAL.Product>
@{
    ViewBag.Title = "Home Page";
}

<div class="col s6 offset-s3" style="text-align:center"><h2>PRODUCT TABLE</h2></div>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>DESCRIPTION</th>
        </tr>
    </thead>

    <tbody>

        @{ 
            int counter = 0;
            foreach (DAL.Product p in Model)
            {
                counter++;
            <tr>
                <td>@counter</td>
                <td>@Html.ActionLink(p.Name,"GoLink","Home",new {id=p.Name },null)</td>
                <td><p>@p.Desk</p></td>
            </tr>
                }
          }


    </tbody>
</table>